/*
  DIAGNOSTIC STYLING
*/
body {
  background-color:white
}
h1{
  text-align: center;
  font-size: 72px;
}
.profile{
  max-width:40%;
  padding-left: 72px;
    }
    .a{
      max-width:40%;
  padding-left: 72px;
    }
* {
  outline: 1px dotted black;
}

/* Your Awesome Scripts */