/*
  DIAGNOSTIC STYLING
*/
body {
  background-color:white
}


.profile{
  max-width:40%;
  padding-left: 72px;
    }
    .a{
      max-width:40%;
  padding-left: 72px;
    }
* {
  outline: 1px dotted black;
}

.picture {
  height:800px;
  width:600px;
}


/* Your Awesome Scripts */